@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
:root{
    --font-size-link-nav : 1.1875rem;
    --font-size-title : 1.1875rem;
    --font-size-title-page : 1.25rem;
    --width-profile-photo : 48px;
    --height-profile-photo : 48px;
    --flex-profile-photo  : 0 0 48px;
    --font-size-subtitle-and-countTweet : .8125rem; 
    --color-details : #6E767D;
    --height-header : 53px;
    --primary-hover-link-background-color: #1a1a1a;
    --second-hover-link-background-color: #2F3336;
}

body{
    background-color: black;
    color: white;
    margin: 0 auto;
    max-width: 1800px;
    line-height: 1.5;
}
#root{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.timeline {
    width: 600px;
    font-family: 'Inter', sans-serif;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}
.header {
    padding: 0 1rem;
    height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F3336;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.top-tweets {
    width: 1.5rem;
    height: auto;
}
.page-title {
    font-size: var(--font-size-title-page);
    font-weight: bold;
}
.tweet-editor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    padding:  .3rem 1rem;
    border-bottom: 1px solid #2F3336;
}
.avatar {
    height: var(--height-profile-photo);
    width: var(--width-profile-photo);
    flex: var(--flex-profile-photo);
}
.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.tweet-editor-form {
    flex: auto;
}
.tweet-editor-input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    resize: none;
    margin: 0 0 13px 0;
}
.tweet-editor-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tweet-editor-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding: 0.8rem 0;*/
    gap: 1rem;
}
.tweet-editor-actions button {
    background-color: transparent;
    border: none;
}
.button {
    text-transform: capitalize;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
}
.tweet{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #2F3336;
}
.tweet-avatar {
    height: var(--height-profile-photo);
    width: var(--width-profile-photo);
    flex: var(--flex-profile-photo);
}
.tweet-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.tweet-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}
.tweet-body{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.tweet-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 1rem;
}
.tweet-title svg{
    width: 1.2rem;
    height: auto;
}
.tweet-title-author, .tag-trend{
    font-size: 1rem;
}
.tweet-title-details{
    color: var(--color-details);
}
.tweet-text{
    color: #D9D9D9;
    font-size: 1rem;
}
.tweet-image{
    width: 100%;
    padding:  .3rem 0 0 0;
}
.tweet-image img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border-color: #2F3336;
    border-style: solid;
    border-width: 1px;
}
.tweet-actions {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 1rem;
    width: 100%;
}

.tweet-actions svg {
    width: 1.5rem;
    height: auto;
    color: #2F3336;
}

.tweet-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 25%;
}

.sidebar{
    padding: .5rem 0;
    font-family: 'Inter', sans-serif;
}

.sidebar{
    flex: 0 0 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100%;
}
ul{
    list-style: none;
}
.nav-link{
    padding: .6rem;
    margin-bottom: .2rem;
    width: fit-content;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: #D9D9D9;
    font-size: var(--font-size-link-nav);
    font-weight: 600;
    text-decoration: none;
}
.nav-link span{
   margin-right: 1rem;
}
.nav-link:hover{
    background-color: var(--primary-hover-link-background-color);
}
.button-nav-tweet{
    padding: .9rem 6rem;
    margin: 1.2rem 0 14vh 0;
}
.profileSetting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    gap: 1rem;
    font-size: 1rem;
    border-radius: 4rem;
}
.profileSetting:hover{
    background-color: var(--primary-hover-link-background-color);
}
.profilePhoto-setting{
    height: var(--height-profile-photo);
    width: var(--width-profile-photo);
    flex: var(--flex-profile-photo);
}
.profilePhoto-setting img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.title-profileSetting{
    display: flex;
}

.trends{
    flex: 0 0 360px;
    position: sticky;
    top: -300px;
    height: 100%;
    font-family: 'Inter', sans-serif;
}
.search-tweet{
    display: flex;
    align-items: center;
    height: var(--height-header);
    position: sticky;
    top: 0;
    background-color: black;
}
.search-tweet input{
    background-color: #202327;
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 42px;
    padding: 0 0.5rem 0 3.5rem;
    color: #fff;
    font-size: 1rem;
}
.search-tweet svg{
    position: absolute;
    margin-left: 1rem;
}
.trending-list, .follow-list{
    border-radius: 15px;
    background-color: #202327;
}
.trending-list{
    margin: .5rem 0 1rem 0;
}
.container-title-trending-list, .container-title-follow-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
}
.container-title-trending-list h3, .container-title-follow-list h3{
    font-size: var(--font-size-title);
    font-weight: bold;
 }
.trendLists{
    display: flex;
    justify-content: space-between;
    padding: .6rem 1rem;
}
.trendLists:hover{
    background-color: var(--second-hover-link-background-color);
}
.tag-trend{
    font-size: 1rem;
}
.subtitle, .countTweet{
    font-size: var(--font-size-subtitle-and-countTweet);
    color: var(--color-details);
}
.show-more-button{
    color: #1D9BF0;
    background-color: #202327;
    width: 100%;
    height: 53px;
    padding-left: 1rem;
    border: none;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0 0 15px 15px;
}
.show-more-button:hover{
    background-color: var(--second-hover-link-background-color);
}
.account-follow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 1rem;
}
.account-follow:hover{
    background-color: var(--second-hover-link-background-color);
}
.avatar-follow {
    height: var(--height-profile-photo);
    width: var(--width-profile-photo);
    flex: var(--flex-profile-photo);
}
.avatar-follow img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.profile-Autor-follow{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.button-follow{
    text-transform: capitalize;
    padding: .6rem 1rem;
    border: none;
    border-radius: 50px;
    background-color: #EFF3F4;
    color: #0F1419;
    font-size: 1rem; 
}

.profile .top-tweets{
    display: none;
}
.photo-curvature{
    width: 100%;
    height: 200px;
}
.photo-curvature img{
    width: 100%;
    height: 100%;
 
}
.photo-profile{
    height: 133.6px;
    width: 133.6px;
    flex:  133.6px;
    position: absolute;
    margin: -70px 0 0 1rem;
}
.photo-profile img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.container-edit-profile-button{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 60px;
    padding: 1rem;
}
.button-edit-profile{
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #2F3336;
}
.about-account{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: 1rem;
}
.author-name{
    font-size: var(--font-size-title);
    font-weight: bold;
}
.author-contact-details, .container-subscription-subscriber{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon-separator-and-profile-details{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.profle-actions{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2F3336;
    margin: 0;
}
.profle-action{
    padding: 1rem 2rem;
    color: var(--color-details);
    font-weight: 500;
    font-size: 1rem;
}
.profle-action:hover{
    background-color: var(--primary-hover-link-background-color);
}
.profle-action span{
    padding-bottom: .8rem;
    border-bottom: .25rem solid transparent;
}
.profle-action .postes{
    border-bottom: .25rem solid #1D9BF0;
}