@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
body{
    background-color: black;
    color: white;
    margin: 0 auto;
    max-width: 1800px;
}
#root{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.timeline {
    flex: 0 0 800px;
    font-family: 'Inter', sans-serif;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}
.header {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F3336;
}
.top-tweets {
    width: 1.5rem;
    height: auto;
}
.page-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.tweet-editor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding:  .3rem 1rem;
    border-bottom: 1px solid #2F3336;
}
.avatar {
    height: 70px;
    width: 70px;
    flex: 0 0 70px;
}
.avatar img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.tweet-editor-form {
    flex: auto;
}
.tweet-editor-input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    resize: none;
    padding: 10px 0 0 0;
    margin: 13px 0;
}
.tweet-editor-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tweet-editor-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding: 0.8rem 0;*/
    gap: 1rem;
}
.tweet-editor-actions button {
    background-color: transparent;
    border: none;
}
.button {
    text-transform: capitalize;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
}
.tweet{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #2F3336;
}
.tweet-avatar {
    height: 70px;
    width: 70px;
    flex: 0 0 70px;
}
.tweet-avatar img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.tweet-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}
.tweet-body{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.tweet-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 1rem;
}
.tweet-title svg{
    width: 1.2rem;
    height: auto;
}
.tweet-title-author{
    font-size: 1rem;
}
.tweet-title-details{
    color: #6E767D;
}
.tweet-text{
    color: #D9D9D9;
    font-size: 1rem;
}
.tweet-image{
    width: 100%;
    padding:  .3rem 0 0 0;
}
.tweet-image img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border-color: #2F3336;
    border-style: solid;
    border-width: 1px;
}
.tweet-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: grey;
    font-size: 1rem;
}

.tweet-actions svg {
    width: 1.5rem;
    height: auto;
    color: #2F3336;
}

.tweet-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sidebar, .trends{
    padding: 1.5rem 0;
    font-family: 'Inter', sans-serif;
}

.sidebar{
    flex: 0 0 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-nav-tweet{
    padding: .9rem 6rem;
}
ul{
    list-style: none;
}
.list-navigation li{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #D9D9D9;
    font-size: 1.3rem;
    font-weight: 600;
}
.profileSetting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    margin-top: 4rem;
}
.profilePhoto-setting{
    height: 50px;
    width: 50px;
    flex: 0 0 50px;
}
.title-profileSetting{
    display: flex;
}

.trends{
    flex: 0 0 360px;
}
.search-tweet, .trending-list, .follow-list{
    margin-bottom: 1rem;
}
.search-tweet{
    display: flex;
    align-items: center;
}
.search-tweet input{
    background-color: #202327;
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 42px;
    padding: 0 0.5rem 0 3.5rem;
    color: #fff;
}
.search-tweet svg{
    position: absolute;
    margin-left: 1rem;
}
.trending-list, .follow-list{
    border-radius: 15px;
    padding: 1rem;
    background-color: #202327;
}
.container-title-trending-list, .container-title-follow-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    margin-bottom: 2rem;
}
.trendLists{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.tag-trend{
    font-size: 1.2rem;
}
.show-more-button{
    color: #1D9BF0;
    height: 50px;
    width: 118px;
    background-color: #202327;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
}
.account-follow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.avatar-follow {
    height: 48px;
    width: 48px;
    flex: 0 0 48px;
}
.avatar-follow img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.profile-Autor-follow{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.details-Autor-follow{
    display: flex;
    gap: .2rem;
}
.button-follow{
    text-transform: capitalize;
    padding: .7rem 1.2rem;
    border: none;
    border-radius: 50px;
    background-color: #EFF3F4;
    color: #0F1419;
    font-size: 1rem; 
}